@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Feature";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Feature</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Feature</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0 whychooseus">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">Why Choose Us</h1>
                    				
                    <h3>1. Privately Owned Security Firm</h3>
                    <p>While this may seem like a small detail at first, think about the priorities of some of the national, publicly traded security companies. They have to please a board of directors, investors and stock analysts. Because Sterling Protective Services is privately owned, we’re able to make satisfying our clients our top priority. We answer only to you, and we’ll never sacrifice quality to increase stock market dividends.</p>
                    <p>&nbsp;</p>
                    <h3>2. We’re Texas Based and Texas Focused</h3>
                    <p>We’ve been in business in Texas since 1989. We know the needs of our Texas-based clients in Dallas, Fort Worth, Houston, Austin, and the surrounding areas. Other companies may spread themselves too thin trying to gain a foothold all over the country, but we concentrate on one region so we can provide hands-on, personal service for each of our clients.</p>
                    <p>&nbsp;</p>
                    <h3>3. Firmly Established Texas Security Company</h3>
                    <p>Again, being in Texas since 1989 has its advantages. The Sterling Protective Services’ management team has amassed decades of collective security, military and law enforcement experience, and the same people have been with the company for years. We believe in taking care of our employees and building long-term relationships with our clients. At Sterling Protective Services, you can rest assured that you’ll always reach the same people you’ve known and trusted for years when you need us.</p>
                    <p>&nbsp;</p>
                    <h3>4. We Listen to Your Needs</h3>
                    <p>Another advantage of being privately owned, locally based and consistently staffed is the ability to offer one-on-one attention. We’ll sit down with you to understand your needs, assess your vulnerabilities, and recommend the best response with a program that meets your security, public relations and budget objectives. We can also respond immediately to any problems or changes in your needs.</p>
                    <p>&nbsp;</p>
                    <h3>5. We Do One Thing, and We Do it Well</h3>
                    <p>In an attempt to pad their bankrolls, some companies try to be all things to all clients by offering a wide array of add-on services, like investigations, access control systems and CCTV systems. The result can be a mix of mediocre services with no real exceptional service. At Sterling Protective Services, we focus our efforts strictly on the implementation and management of on-site security officer programs, tailored to the specific needs of each individual client. We recognize the need for these services, but we’d rather refer our clients to an independent firm specializing in those additional needs so that we can dedicate ourselves to the single task of bringing you the finest possible on-site security officer program.</p>
                    <p>&nbsp;</p>
                    <h3>6. We Continually Evaluate Our Progress</h3>
                    <p>Unlike many security companies who send over their employees and hope for the best, Sterling Protective Services maintains the highest levels of accountability for our officers. In addition to assigning attentive account managers and post supervisors, we set ourselves apart by deploying our exclusive team of highly trained roving field supervisors who visit your site, evaluate our employees’ performance, ensure compliance to procedures and provide coaching and even additional training for specific situations.</p>
                    <p>&nbsp;</p>
                    <h3>7. We Hire Only the Best Security Officers</h3>
                    <p>Our pre-employment screening includes a thorough interview process, a complete background check, an honesty and drug profile, and a criminal history fingerprint check through the Department of Public Safety and FBI. We offer an unparalleled classroom and field training program for our security officers which teaches proper procedures, state law, using good judgment, communication skills, code of conduct, courtesy and much more. We also periodically evaluate our employees’ needs and offer a continuing plan of education and training for additional skills.</p>
                    <p>&nbsp;</p>
                    <h3>8. You’ll Never Pay Too Much</h3>
                    <p>Instead of using a rigid, standard rate sheet, at Sterling Protective Services we evaluate the individual needs of each potential client prior to preparing an actual security proposal. We consider all of the variables, including the complexity of your needs, geographic location, your budget objectives, duration and volume of service, and more. Once we understand your individual needs, we will prepare a comprehensive proposal along with a proposed hourly bill rate for our services. And this evaluation service is absolutely free.</p>
                    <p>&nbsp;</p>
                    <p>Contact Sterling Protective Services now to discuss your security needs or to arrange a <a title="Contact" href="http://www.sterlingprotective.com/contact/">free tour </a>and security assessment of your site.</p>
                    
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-7.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Trusted</p>
                                    <h5 class="mb-0">Security</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-10.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Quality</p>
                                    <h5 class="mb-0">Services</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-3.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Smart</p>
                                    <h5 class="mb-0">Systems</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-2.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">24/7 Hours</p>
                                    <h5 class="mb-0">Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/img/feature1.jpeg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->