@model Models.Vacancy

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Vacancy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="ImageUpload" class="form-control" />
                <img src="" id="imgUpload" alt="" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" value="#" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            @*            <div class="form-group">
            <label asp-for="User" class="control-label"></label>
            <select asp-for="UserId" asp-items="@ViewBag.User" class="form-control">
            <option value="0">Choose User Manage</option>
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.Category" class="form-control">
                    <option value="0">Choose Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <select asp-for="BranchId" asp-items="@ViewBag.Branch" class="form-control">
                    <option value="0">Choose a Branch</option>
                </select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noted" class="control-label"></label>
                <textarea asp-for="Noted" class="form-control"></textarea>
                <span asp-validation-for="Noted" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        CKEDITOR.replace("Description");
        $("#ImageUpload").change(function () {
            readUrl(this);
        });
    </script>
}