@model IEnumerable<Models.Testimonial>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Testimonial</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);
                    <div class="testimonial-item item text-center" data-dot="<img class='img-fluid' src='/img/testimonial-1.jpg' alt=''>">
                        <p class="fs-5">@Html.DisplayFor(model => item.Description)</p>
                        <h4>@Html.DisplayFor(model => item.Name)</h4>
                        <span class="text-primary">@Html.DisplayFor(model => item.Title)</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Initiate the wowjs
            new WOW().init();

            // Header carousel
            $(".header-carousel").owlCarousel({
                autoplay: true,
                smartSpeed: 1500,
                items: 1,
                dots: false,
                loop: true,
                nav: true,
                navText: [
                    '<i class="bi bi-chevron-left"></i>',
                    '<i class="bi bi-chevron-right"></i>'
                ]
            });


            // Testimonials carousel
            $('.testimonial-carousel').owlCarousel({
                autoplay: true,
                smartSpeed: 1000,
                loop: true,
                nav: false,
                dots: true,
                items: 1,
                dotsData: true,
            });
        });
    </script>
}
