@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject UserManager<User> userManager;

@*  if need this service in multiple views. Considered importing it in _ViewImport file   *@
@inject IAuthorizationService authorizationService 


@{
    ViewData["Title"] = "All Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var currentRolesName = await userManager.GetRolesAsync(await userManager.FindByIdAsync(currentUserId));
}

<h1>All Roles</h1>

@if(Model.Any()){
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
        Add New Role
    </a>
    foreach (var role in Model)
    {
        foreach (var currentRoleName in currentRolesName)
        {

            if ((currentRoleName.Equals("Admin") && (role.Name == "GeneralAdmin" || role.Name == "Admin")) ||            
                 (currentRoleName.Equals("GeneralAdmin") && role.Name == "GeneralAdmin" || 
                 role.Name == "SuperAdmin") )
            {
                continue;
            }

            <div class="card mb-3">
                <div class="card-header">
                    Role Id : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteRole" asp-route-id="@role.Id">
                        @*  KHÔNG BỎ COMMENT NÀY DÒNG NÀY GIỮ ĐỂ THAM KHẢO CODE THÔI @if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)*@
                      
                        <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                            Edit
                        </a>
                        <button type="submit" class="btn btn-danger confirmDeletion">Detete</button>
                    </form>
                </div>
            </div>
        }
               
    } 
}
else{
    <div class="card">
        <div class="card-header">
             No roles created yet
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create a role
        </h5>
        <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
            Create Role
        </a>
    </div>
}