@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Feature";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Feature</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Feature</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0 whychooseus">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">Why Choose Us</h1>
                    <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-7.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Trusted</p>
                                    <h5 class="mb-0">Security</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-10.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Quality</p>
                                    <h5 class="mb-0">Services</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-3.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Smart</p>
                                    <h5 class="mb-0">Systems</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square  rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-2.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">24/7 Hours</p>
                                    <h5 class="mb-0">Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="~/img/feature1.jpeg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->