@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Our Team";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Our Team</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Our Team</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/team-1.jpg" alt="">
                        <div class="team-social">
                            <!-- thêm btn-hover -->
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/team-2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/team-3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/team-4.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->