@model IEnumerable<Models.Branch>
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<!-- Contact Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0">
    <div class="container contact px-lg-0">
        <div class="row g-0 mx-lg-0">
            <!-- contact form -->
            <div class="col-lg-12 bg-dark contact-text py-5 px-5 wow fadeIn"
                 data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Contact Us</h1>
                    </div>
                    <p class="mb-4">
                        The contact form is currently inactive. Get a functional and
                        working contact form with Ajax & PHP in a few minutes. Just copy
                        and paste the files, add a little code and you're done.
                        <a href="https://htmlcodex.com/contact-form">Download Now</a>.
                    </p>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text"
                                           class="form-control bg-dark"
                                           id="name"
                                           placeholder="Your Name" />
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email"
                                           class="form-control bg-dark"
                                           id="email"
                                           placeholder="Your Email" />
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text"
                                           class="form-control bg-dark"
                                           id="subject"
                                           placeholder="Subject" />
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control bg-dark"
                                              placeholder="Leave a message here"
                                              id="message"
                                              style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        @if(Model.Count() > 0)
        {
            @foreach(var item in Model)
            {
                @if (item.GoogleMap != null && item.GoogleMap.StartsWith("https://www.google.com/maps/embed"))
                {
                    <div class="col-lg-3 pe-lg-0 p-1" style="min-height: 300px">
                        <p class="text-center text-dark pt-1 text-region">@item.Name</p>
                        <div class="position-relative h-80">
                                <iframe class="position-absolute w-100 h-100"
                            style="min-height: 230px; object-fit: cover"
                            src="@item.GoogleMap"
                            frameborder="0"
                            allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0"></iframe>
                        </div>
                    </div>
                }
            }
        }
        </div>
    </div>
</div>
<!-- Contact End -->