@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Facts Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeIn " data-wow-delay="0.1s">
                <!-- bỏ bg-dark, thêm div123 -->
                <div class="h-100 p-4 p-xl-5 div123">
                    <div class="d-flex align-items-center justify-content-between mb-4 ">
                        <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="~/img/icon/icon-3.png" alt="Icon">
                        </div>
                        <h1 class="display-1 mb-0" style="color: #fff;">01</h1>
                    </div>
                    <h5 class="text-white">Home Security</h5>
                    <hr class="w-25">
                    <span>Vero elitr justo clita lorem ipsum dolor at sed stet sit diam rebum ipsum et diam justo clita et</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <!-- bỏ bg-dark, thêm div123 -->
                <div class="h-100 p-4 p-xl-5 div123">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="~/img/icon/icon-4.png" alt="Icon">
                        </div>
                        <h1 class="display-1 mb-0" style="color: #fff;">02</h1>
                    </div>
                    <h5 class="text-white">Access Control</h5>
                    <hr class="w-25">
                    <span>Vero elitr justo clita lorem ipsum dolor at sed stet sit diam rebum ipsum et diam justo clita et</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <!-- bỏ bg-dark, thêm div123 -->
                <div class="h-100 p-4 p-xl-5 div123">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="~/img/icon/icon-2.png" alt="Icon">
                        </div>
                        <h1 class="display-1 mb-0" style="color: #fff;">03</h1>
                    </div>
                    <h5 class="text-white">24/7 Support</h5>
                    <hr class="w-25">
                    <span>Vero elitr justo clita lorem ipsum dolor at sed stet sit diam rebum ipsum et diam justo clita et</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts Start -->
<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-3 row g-0 mx-lg-0">
                <div class="row-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/img/about1.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="row-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/img/about2.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 row g-0 mx-lg-0">
                <div class="row-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/img/about3.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="row-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="~/img/about4.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
            <!-- thêm div123 -->
            <div class="col-lg-6 about-text py-5 wow fadeIn div123" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-4">Star Security Service</h1>
                    <div class="wpb_wrapper">                        
                        <p><strong>Star Security Service</strong>&nbsp;is a fully licensed/insured <a href="#">private security</a> and protection agency owned and operated by certified law enforcement officers.</p>
                        <p>We offer trained uniformed guards, available armed and unarmed, 24 hours a day, 7 days week. &nbsp;&nbsp;All of our guards are certified crowd managers.</p>
                        <p><strong>Clients</strong></p>
                        <p>Fast Guard Service provides security services to Fortune 500 companies, celebrities, condominiums, hotels, events, and night life establishments.</p>
                        <p><strong>Training&nbsp;</strong></p>
                        <p>Our <a href="#">security guards</a> are put through rigorous, in depth training specified for each post assigned. They are uniformed in provided police style uniforms or uniforms that are requested by the client.</p>
                        <p>We operate our own security training facility where we license and train all of our guards. Our guards are CPR/AED/First Aid certified.</p>
                        <p><strong>Management&nbsp;</strong></p>
                        <p>Our management team&nbsp;has experience in criminal justice and sworn law enforcement with a minimum of a Bachelors degree.</p>
                        <ul>
                            <li>Security Instructor Certifications</li>
                            <li>Certified Crowd Manager Certification</li>
                            <li>Law Enforcement Instructor Certification</li>
                            <li>Interview and Interrogations Certification</li>
                            <li>Corrections Certification</li>
                            <li>K License Fire Arm Instructor Certification</li>
                            <li>Wild Land Fire Fighter Certification</li>
                            <li>Graduate Level Courses in Public Administration and Management</li>
                        </ul>
                        <p><strong>OUR MISSION</strong></p>
                        <p>To provide professional security and investigative solutions customized to fit each individual client needs while demonstrating responsiveness, diligence and professionalism.</p>

                    </div>
                    <div class="row g-4 mb-4 pb-3">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-1.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                    <p class="fw-medium text-primary mb-0">Happy Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center">
                                <!-- bỏ bg-white -->
                                <div class="btn-square rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="~/img/icon/icon-5.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                    <p class="fw-medium text-primary mb-0">Projects Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-5">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">President / Chairman</h1>
        </div>
        <div class="row g-12 justify-content-center">
            <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style=" width:500px;">
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/teacher.jpg" alt="">
                        <div class="team-social">
                            <!-- thêm btn-hover -->
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Nguyễn Kim Thuần</h5>                        
                    </div>
                </div>
            </div>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">The board of directors</h1>
        </div>
        
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/thach.jpg" alt="">
                        <div class="team-social">
                            <!-- thêm btn-hover -->
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Phạm Quang Ngọc Thạch</h5>
                        <span class="text-primary">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/nguyen.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Nguyễn Ngọc Nguyên</h5>
                        <span class="text-primary">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/an.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Nguyễn Thành Ân</h5>
                        <span class="text-primary">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <!-- thêm div123 -->
                <div class="team-item div123">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="~/img/duc.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1 btn-hover" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Tất Hồng Đức</h5>
                        <span class="text-primary">Founder</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->