@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Service";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Our Services</h1>
        </div>
        <div class="row g-0 service-row">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="service-item border h-100 p-5 service-div1 ourservice-div">
                    <!-- bỏ bg-light -->
                    <div class="btn-square  rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="~/img/icon/icon-6.png" alt="Icon">
                    </div>
                    <div>

                        <h4 class="mb-3">Commercial CCTV System</h4>
                        <p class="mb-4">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem</p>
                    </div>
                    <div class="btn-position">

                        <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="service-item border h-100 p-5 service-div2 ourservice-div">
                    <!-- bỏ bg-light -->
                    <div class="btn-square rounded-circle mb-4 " style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="~/img/icon/icon-8.png" alt="Icon">
                    </div>
                    <div>

                        <h4 class="mb-3">Finger Print Access</h4>
                        <p class="mb-4">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem</p>
                    </div>
                    <div class="btn-position">
                        <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="service-item border h-100 p-5 service-div1 ourservice-div">
                    <!-- bỏ bg-light -->
                    <div class="btn-square rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="~/img/icon/icon-9.png" alt="Icon">
                    </div>
                    <div>

                        <h4 class="mb-3">Fire Detection And Safety</h4>
                        <p class="mb-4">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem</p>
                    </div>
                    <div class="btn-position">

                        <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="service-item border h-100 p-5 service-div2 ourservice-div">
                    <!-- bỏ bg-light -->
                    <div class="btn-square rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="~/img/icon/icon-3.png" alt="Icon">
                    </div>
                    <div>
                        <h4 class="mb-3">Smart Home Security</h4>
                        <p class="mb-4">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem</p>
                    </div>

                    <div class="btn-position">
                        <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->